/******* colors *******/
$white: #ffffff;
$mine-shaft: #2f2f2f;
$gray: #808080;
$manatee: #989899;
$dove-gray: #6e6e6e;
$black: #000000;
$silver: #C0C0C0;

$bg-stripe: repeating-linear-gradient( -50deg, #cecece, #cecece 2px, #fff 2px, #fff 5px);
$custom-shadow: inset -5px 8px 5px -8px rgba(0, 0, 0, 0.56);


